html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.btn-open{
    background-color: #e74c3c;
    border-radius: 15px;
    color: #fff;
    transition: .3s;
    border: 1px solid #e74c3c;
}

.btn-open:hover{
    background-color: #fff;
    color: #e74c3c;
}

.img-filter-white{
    filter: brightness(200%) contrast(200%) saturate(63%) blur(0) hue-rotate(360deg);
}

.scale-zoom{
    transition: .3s;
}
.scale-zoom:hover{
    transform: scale(1.3);
}

@media (min-width:768px) {
    .hidden-md-up {
        display: none!important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none!important;
	}
}

.vw-100{
    width: 100vw;
}

.vh-100{
    height: 100vh;
}